@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    font-family: var(--base-font);
    color: var(--base-color);
}

h1,h2,h3{
    font-family: var(--accent-font);
    color: var(--accent-color);

    width: 100%;
    text-align: center;
    padding-top: 0.5em;
}

.img-round{
    width: 30vh;
    height: 30vh;

    border-radius: 105%;
}

header, main, footer{
    display: flex;

    padding: 2em;

    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    padding: 0.5em;
}

a{
    color: var(--base-color);
    text-decoration: none;
}

a:hover{
    color: var(--accent-color);
}

.some-icons{
    display: flex;

    padding: 0.5em;

    font-size: 2em;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.gallary{
    display: flex;

    width: 50%;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: baseline;
}

.gallary article{
    width: 30vh;
    padding: 0.5em;
}

.gallary article:hover{
    opacity: 0.5;
}

.gallary article img{
    width: 100%;
}

.banner{
    width: 100%;
    height: 40vh;

    padding: 0;

    object-fit: contain;
    overflow: hidden;
}

.banner img{
    width: 100%;
    margin: -30%;
}

nav{
    width: 100%;

    border-bottom: 1px solid var(--accent-color);

    font-size: 1.2em;
    font-style: italic;
}

nav a{
    padding: 0.5em;
}

.center-text{
    text-align: center;
}